html {
  /* Ecco il font))) */
  font-family: sans-serif, "Gill Sans", sans-serif;
  font-size: 80%;
}

body {
  background-color: #0e0e0e !important;
}

header {
  background-color: #212529 !important;
}

.Logo {
  max-width: 100px;
  max-height: 50px;
}

.LogoIMG {
  width: 100%;
}
.profileImgContainer {
  width: 32px;
}

.profileImg {
  width: 100%;
  border-radius: 5%;
}

.socialLink {
  color: rgb(137, 136, 136);
}

.maturilyBtn {
  font-size: 1rem !important;
  font-weight: 600;
  padding: 5px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btnSave {
  font-size: 1.5rem !important;
  align-items: center;
  flex: 1 !important;
}

.big {
  flex-grow: 3 !important;
}
